<ion-header>
  <ion-navbar>
    <ion-title>
      Welcome to our sharing communities
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>



<button ion-button full color = "primary" (click) = "takePhoto()"  >Take Photo</button>
<button ion-button full color = "secondary" (click) = "getPhoto()" >Upload From Library</button>
<button ion-button full color = "danger" (click) = "cropPhoto()" >Crop Photo</button>
<button ion-button full color = "danger" (click) = "showAddDespPrompt()" >deso</button>



<ion-item>
  <p><ion-datetime float-end [(ngModel)]="date" text-right displayFormat="MMMM DD, YYYY" min="2017" max="2100"></ion-datetime></p>
</ion-item>

<!-- <p align = "center" *ngFor = "let photo of photos"><img src = "{{photo.src}}"></p> -->
  
  <ion-card *ngFor = "let photo of this.dataService.photos"> 
        <ion-item>
          <ion-avatar>
            <img src = "../../assets/imgs/hungvuong.jpg"/>
          </ion-avatar>
          <h2>{{this.dataService.user_name}}</h2>
          <h4>
          <ion-item>
            <ion-datetime [(ngModel)]="date" id = "datesize" displayFormat="MMMM DD, YYYY" min="2017" max="2100"></ion-datetime>
          </ion-item>
          </h4>
          <p>{{this.dataService.descriptions[this.dataService.descriptions.length-1]}}</p>
        
         
          <img src = "{{photo.src}}"/>
          <ion-row>
            <ion-col>
              <ion-item>
                <button ion-button icon-left clear small color = "primary" (click)= "likePhoto(photo)">{{photo.likes}}&nbsp;
                  <ion-icon name = "thumbs-up"></ion-icon>
                </button>
                <button ion-button icon-left clear small color = "primary" (click)= "addComment(photo,temp)">
                    <ion-icon name = "text"></ion-icon>
                  </button>
              </ion-item>
            </ion-col>
          </ion-row>
          
        
        </ion-item>

      

            <ion-input type = "text" placeholder ="Comment Here" [(ngModel)]="temp"></ion-input>

              <ion-list *ngFor ="let i of photo.comment">
                  <ion-item>
                      <ion-avatar><img src = "../../assets/imgs/hungvuong.jpg"/></ion-avatar>
                      <h4> {{i}}</h4>
                  </ion-item>

              </ion-list>
         
         
  </ion-card>
 

</ion-content>
